<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include nav %>
    <p class="home">Welcome To The PhotoGallery</p>
  </body>
</html>
