<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
  //target: display all images in folder

  //get list og images
  // images are inside public/images


  //pass the list to the template
  res.remder('images_template',{images: list})
  
  //get the list og images
  
  //loop over the list
  list.forEach

  //set the images path
  img=src "list.path"
  </body>
</html>
