<html lang="en">
<head>
 <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
<nav>
<a class="topnav" href="/">Home</a>
<a class="topnav" href="/upload">Upload</a>
<a class="topnav" href="/size/100/1">100</a>
<a class="topnav" href="/size/200/1">200</a>
<a class="topnav" href="/size/300/1">300</a>
<a class="topnav" href="/size/400/1">400</a>
</nav>
</body>
</html> 
