<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates/partial.ejs %>
  
<div class="container">
    <% images.forEach(function(image){ %>
    <img src="/images/<%= size %>/<%= image.path %>"/>
    <% }) %>
 </div>
 <div>
    <button>previous</button>
    <button>next</button>
</div>

  </body>
</html>