 <div>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" multiple/>
        <button type="submit" class="btn btn-success btn-block">Upload image</button>
    </form>
    
 </div>